# BEGIN_KITTY_THEME
# Gruvbox Dark Hard
include current-theme.conf
# END_KITTY_THEME
# font_family JetBrainsMono NF Medium
font_size {{ if eq .chezmoi.os "darwin" }}15.0{{ else }}12.0{{ end }}
enable_audio_bell no
{{ if ne .chezmoi.os "darwin" -}}
background_opacity 0.8
{{ end -}}
window_padding_width 4
shell_integration no-cursor
cursor_blink_interval 0
confirm_os_window_close 0

cursor_trail 10
cursor_trail_start_threshold 0
cursor_trail_decay 0.01 0.15

# BEGIN_KITTY_FONTS
font_family family='JetBrainsMono Nerd Font Mono' style=Regular
bold_font family='JetBrainsMono Nerd Font Mono' postscript_name=JetBrainsMonoNFM-ExtraBold
italic_font family='JetBrainsMono Nerd Font Mono' postscript_name=JetBrainsMonoNFM-MediumItalic
bold_italic_font family='JetBrainsMono Nerd Font Mono' postscript_name=JetBrainsMonoNFM-ExtraBoldItalic
# END_KITTY_FONTS
