set -g prefix C-a
unbind C-b
bind C-a send-prefix


set -s escape-time 0

set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on
set -g mouse on
set -g history-limit 50000



set -g default-terminal "tmux-256color"
set -sg terminal-overrides ",*:RGB"

set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
{{- if eq .chezmoi.os "darwin" }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'pbcopy'
{{- else }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'wl-copy'
{{- end }}

bind r source-file $XDG_CONFIG_HOME/tmux/tmux.conf \; display-message "tmux.conf reloaded"

bind -r h select-pane -L
bind -r j select-pane -D
bind -r k select-pane -U
bind -r l select-pane -R

bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5


bind \\ split-window -h -c "#{pane_current_path}"
bind -  split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

bind C-p previous-window
bind C-n next-window

bind v copy-mode

## Plugins
set -g @plugin 'vaaleyard/tmux-dotbar'

set -g @tmux-dotbar-bg "default"
set -g @tmux-dotbar-bold-status false
set -g @tmux-dotbar-bold-current-window true
set -g @tmux-dotbar-position top
set -g @tmux-dotbar-fg-prefix "#fabd2f"
set -g @tmux-dotbar-session-position "right"

if "test ! -d ~/.config/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"
run '~/.config/tmux/plugins/tpm/tpm'
