set -g prefix C-a
unbind C-b
bind C-a send-prefix


set -s escape-time 0

set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on
set -g mouse on
set -g history-limit 50000



set -g default-terminal "tmux-256color"
set -ga terminal-features ",*:RGB,*:hyperlinks"

set -g focus-events on
set -g set-clipboard on
set -g allow-passthrough on
setw -g aggressive-resize on
set -g detach-on-destroy off
set -g display-time 2000
set -g display-panes-time 2000

set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
{{- if eq .chezmoi.os "darwin" }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'pbcopy'
bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe 'pbcopy'
{{- else }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'wl-copy'
bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe 'wl-copy'
{{- end }}

bind r source-file $XDG_CONFIG_HOME/tmux/tmux.conf \; display-message "tmux.conf reloaded"

bind -r h select-pane -L
bind -r j select-pane -D
bind -r k select-pane -U
bind -r l select-pane -R

bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5


bind \\ split-window -h -c "#{pane_current_path}"
bind -  split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

bind C-p previous-window
bind C-n next-window

bind C-s set-window-option synchronize-panes \; display-message "sync #{?pane_synchronized,ON,OFF}"

bind b break-pane -d

bind-key g display-popup -E -w 95% -h 95% -d "#{pane_current_path}" lazygit

bind v copy-mode


bind-key "t" run-shell "sesh connect \"$(
  sesh list --icons | fzf-tmux -p 80%,70% \
    --no-sort --ansi --border-label ' sesh ' --prompt '⚡  ' \
    --header '  ^a all ^t tmux ^g configs ^x zoxide ^d tmux kill ^f find' \
    --bind 'tab:down,btab:up' \
    --bind 'ctrl-a:change-prompt(⚡  )+reload(sesh list --icons)' \
    --bind 'ctrl-t:change-prompt(🪟  )+reload(sesh list -t --icons)' \
    --bind 'ctrl-g:change-prompt(⚙️  )+reload(sesh list -c --icons)' \
    --bind 'ctrl-x:change-prompt(📁  )+reload(sesh list -z --icons)' \
    --bind 'ctrl-f:change-prompt(🔎  )+reload(fd -H -d 2 -t d -E .Trash . ~)' \
    --bind 'ctrl-d:execute(tmux kill-session -t {2..})+change-prompt(⚡  )+reload(sesh list --icons)' \
    --preview-window 'right:55%' \
    --preview 'sesh preview {}'
)\""

bind -N "last-session (via sesh) " L run-shell "sesh last"

set -g pane-border-style        "fg=#504945"
set -g pane-active-border-style "fg=#fabd2f"
set -g mode-style               "bg=#fabd2f,fg=#282828"
set -g copy-mode-match-style    "bg=#504945,fg=#fabd2f"
set -g message-style            "bg=#504945,fg=#ebdbb2"
set -g message-command-style    "bg=#928374,fg=#282828"
set -g display-panes-active-colour "#fabd2f"
set -g display-panes-colour        "#504945"
setw -g clock-mode-colour "#83a598"

set -g @plugin 'vaaleyard/tmux-dotbar'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

set -g @tmux-dotbar-bg "default"
set -g @tmux-dotbar-fg "#928374"
set -g @tmux-dotbar-fg-current "#b8bb26"
set -g @tmux-dotbar-fg-session "#83a598"
set -g @tmux-dotbar-fg-prefix "#fe8019"
set -g @tmux-dotbar-bold-status false
set -g @tmux-dotbar-bold-current-window true
set -g @tmux-dotbar-position top
set -g @tmux-dotbar-session-position "right"

set -g @resurrect-capture-pane-contents 'on'
set -g @resurrect-dir '~/.local/share/tmux/resurrect'
set -g @continuum-restore 'on'
set -g @continuum-save-interval '15'

if "test ! -d ~/.config/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"
run '~/.config/tmux/plugins/tpm/tpm'

set -g window-status-activity-style "fg=#fabd2f,nobold"
set -g window-status-bell-style "fg=#fb4934,bold"
